@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	position: fixed;
	background: #121212;
	top: 0;
	left: 0;
	height: 65px;
	width: 100%;
	color: #fff;
}

.header-content {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo h1 {
	font-size: 2vw;
}
.logo h1 b{
    font-size: 1.2vw;
	font-weight: normal;
}
.icono {
	margin-top: 11px;
	margin-left: 5px;
	font-size: 24px;
}

.menu {
	height: 80px;
}

.menu nav {
	height: 100%;
}

.menu nav ul {
	height: 100%;
	display: flex;
	list-style: none;
}

.menu nav ul li {
	height: 100%;
	margin: 0 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

.a:hover{
	color: #177F9F;
}
a {
	text-decoration: none;
	font-size: 1vw;
	color: white;
}

.registro {
	display: block;
	background-color: #177F9F;
	color: white;
	border-radius: 5px;
	padding: 10px 40px;
}
.menu nav ul li div {
	display: flex;
	height: 30px;
}
.menu nav ul li div input{
	width: 300px;
	border-radius: 5px 0 0 5px;
}
.menu nav ul li div i{
	padding: 5px 6px 0 6px;
	background: #177F9F;
	border-radius: 0 5px 5px 0;
	display: block;
	cursor: pointer;
}
.menu nav ul li ul {
	display: none;
}
.menu nav ul:hover .menu nav ul li ul{
	position: relative;
	display: block;
}