*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    background: #121212;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    color: #fff;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    /* height */
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}